<!DOCTYPE html>
<html>
<head>
  {% load static %}
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
	<title>DivDance</title>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">

</head>
<body>
<form method="post">
{% csrf_token %}
<h1>Login de Usuário da Administração</h1>
<p class="btn btn-info">Usuario: {{ form.username }}</p> <br/>
<p class="btn btn-info">Senha: {{ form.password }}</p> <br/>
<button type="submit" class="btn btn-danger">Login</button>
</form>

 <script src="{% static 'js/jquery.min.js' %}" ></script>
 <script src="{% static 'js/bootstrap.bundle.min.js' %}" ></script>
</body>
</html>