
<!DOCTYPE html>
<html>
<head>
    <title>Cadastro</title>
    {% load widget_tweaks %}
    <style type="text/css">
    .divider-text {
        position: relative;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .divider-text span {
        padding: 7px;
        font-size: 12px;
        position: relative;   
        z-index: 2;
    }
    .divider-text:after {
        content: "";
        position: absolute;
        width: 100%;
        border-bottom: 1px solid #ddd;
        top: 55%;
        left: 0;
        z-index: 1;
    }

    .btn-facebook {
        background-color: #405D9D;
        color: #fff;
    }
    .btn-twitter {
        background-color: #42AEEC;
        color: #fff;
    }
</style>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

</head>
<body>
    <div class="container">
        <br>
        <hr>





        <div class="card bg-light">
            <article class="card-body mx-auto" style="max-width: 400px;">

                <form method="POST" enctype="multipart/form-data"> 
                    {% csrf_token %}
                    {{form}}
 
                    <!-- <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> Primeiro nome</span>
                        </div>
                        <input {{form.first_name|add_class:"form-control"}}>
                    </div> 
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i>Último nome</span>
                        </div>
                        <input {{form.last_name|add_class:"form-control"}}>
                    </div> 
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i>Nome de Usuário</span>
                        </div>
                        <input {{form.username_name|add_class:"form-control"}}>
                    </div> 
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                        </div>
                        <input {{form.email_name|add_class:"form-control"}} placeholder="Endereço de E-mail" type="email">
                    </div> 
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input {{form.password1_name|add_class:"form-control"}} placeholder="Senha" type="password">
                    </div> 
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input {{form.password2_name|add_class:"form-control"}} placeholder="Repetir Senha" type="password">
                    </div> -->                                      
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Criar Conta </button>
                    </div> <!-- form-group// -->      
                    <p class="text-center">Você já é um usuario? <a href="login.html">Fazer Login</a> </p>                                                                 
                </form>

            </article>
        </div> <!-- card.// -->

    </div> 
    <!--container end.//-->

    <br><br>

</body>
</html>